/* Extra Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
.text{
	font-size: 25px;
}
.box{
	background-color: black;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.text{
	font-size: 30px;
}
.box{
	background-color: blue;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.text{
	font-size: 35px;
}
.box{
	background-color: coral;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.text{
	font-size: 50px;
}
.box{
	background-color: teal;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
.text{
	font-size: 55px;
}
.box{
	background-color: green;
}
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
.text{
	font-size: 60px;
}
}